<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form style="height:300px">
  <table border="0" cellspacing="0" style="margin-right:30px" id="add_table">
    <tr>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">工号</label>
          <div class="layui-input-inline"><input id="add_id" type="text" name="ID" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">姓名</label>
          <div class="layui-input-inline"><input id="add_name" type="text" name="username" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">职称</label>
          <div class="layui-input-inline"><input id="add_technology" type="text" name="Status" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">技术职级</label>
          <div class="layui-input-inline"><input id="add_level" type="text" name="level" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">擅长专业领域</label>
          <div class="layui-input-inline"><input id="add_field" type="text" name="username" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">手机号码</label>
          <div class="layui-input-inline"><input id="add_phone" type="text" name="add_phone" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">参与评审积分</label>
          <div class="layui-input-inline"><input id="add_integral" type="text" name="num" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">拒绝评审次数</label>
          <div class="layui-input-inline"><input id="add_refuseCount" type="text" name="rnum" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">状态</label>
          <div class="layui-input-inline"><input id="add_status" type="text" name="status" autocomplete="off"class="layui-input"/></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">生日</label>
          <div class="layui-input-inline"><input id="add_birthday" type="text" name="ID" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
      <td>
        <div class="layui-inline"><label class="layui-form-label" style="width:150px">年龄</label>
          <div class="layui-input-inline"><input id="add_age" type="text" name="add_age" autocomplete="off" class="layui-input"/></div>
        </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>