<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" href="../../static/css/allocate.css"
          th:href="@{/css/allocate.css}" />
</head>
<body>
<div class="modal changepassesModal" id="tanchukuang">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 创建隐藏域，得到uid用户的id(js中无法使用el)，因为修改当前用户的密码，首先要知道获取当前用户所在数据表中的id-->
                <input name="uiid" type="hidden"/>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" id="gb">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="icon-info"></i><span style="margin-left: .5em;">修改密码</span>
                </h4>
            </div>

            <!-- BEGIN FORM 修改密码的第一要素：输入新密码-->
            <form class="form-horizontal" method="post" name="passForm"
                  novalidate>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">新密码</label>
                            <div class="input-icon col-md-7">
                                <i class="fa fa-lock" style="margin-left: 1.5em;"></i> <input
                                    class="form-control placeholder-no-fix" type="password"
                                    placeholder="新密码" name="StorePassword" id="StorePassword" required /><span
                                    class="help-block" hidden   minlength="6" maxlength="6"
                            ></span>
                            </div>
                        </div>
                        <!-- 修改密码的第二要素：确定新密码-->
                        <div class="form-group">
                            <label class="control-label col-md-3">确认密码</label>
                            <div class="controls">
                                <div class="input-icon col-md-7">
                                    <i class="fa fa-check" style="margin-left: 1.5em;"></i>
                                    <input class="form-control placeholder-no-fix" type="password"
                                           placeholder="确认密码" name="newStorePassword" id="newStorePassword" required/><span
                                        class="help-block" hidden  minlength="6" maxlength="6"
                                ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 关闭和确定修改-->
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn blue queding">确定</button>
                </div>
            </form>

            <!-- END FORM-->
        </div>
    </div>
</div>
</body>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}">
    layui.use([ 'jquery'], function() {
			var $ = layui.jquery

            function xiugai(uid)
                {
                    $("input[name='uiid']").val(uid);
                    $("tanchukuang").show();
                }
                $("#close").click(function(){
                    $("tanchukuang").hide();
                })
                $("#gb").click(function(){
                    $("tanchukuang").hide();
                })
                $(function(){
                        $(".queding").click(function(){
                            var p1=$("#StorePassword").val();
                            var p2=$("#newStorePassword").val();
                            if(!p1){
                                alert("密码不能为空");
                            }
                            else if(p1!=p2)
                            {
                                window.alert("请确定两次密码输入是否一致");
                                return;
                            }
                            else
                            {
                                var data={
                                    "uid":$("input[name='uiid']").val(),"password":p1,
                                }
                                $.post('/expert/updatePwd',data,function(data){
                                })
                                alert("修改成功");
                                $("#tanchukuang").hide();
                            }
                        })
                })
    })

    </script>
</html>