<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal changepassesModal" id="tanchukuang">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 创建隐藏域，得到uid用户的id(js中无法使用el)，因为修改当前用户的密码，首先要知道获取当前用户所在数据表中的id-->
                <input name="uiid" type="hidden"/>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" id="gb">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="icon-info"></i><span style="margin-left: .5em;">修改密码</span>
                </h4>
            </div>

            <!-- BEGIN FORM 修改密码的第一要素：输入新密码-->
            <form class="form-horizontal" method="post" name="passForm"
                  novalidate>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">新密码</label>
                            <div class="input-icon col-md-7">
                                <i class="fa fa-lock" style="margin-left: 1.5em;"></i> <input
                                    class="form-control placeholder-no-fix" type="password"
                                    placeholder="新密码" name="StorePassword" id="StorePassword" required /><span
                                    class="help-block" hidden   minlength="6" maxlength="6"
                            ></span>
                            </div>
                        </div>
                        <!-- 修改密码的第二要素：确定新密码-->
                        <div class="form-group">
                            <label class="control-label col-md-3">确认密码</label>
                            <div class="controls">
                                <div class="input-icon col-md-7">
                                    <i class="fa fa-check" style="margin-left: 1.5em;"></i>
                                    <input class="form-control placeholder-no-fix" type="password"
                                           placeholder="确认密码" name="newStorePassword" id="newStorePassword" required/><span
                                        class="help-block" hidden  minlength="6" maxlength="6"
                                ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 关闭和确定修改-->
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn blue queding">确定</button>
                </div>
            </form>

            <!-- END FORM-->
        </div>
    </div>
</div>
</body>
</html>