<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>评审任务管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../../static/css/allocate.css"
          th:href="@{/css/allocate.css}"/>
    <style type="text/css">
.layui-inline{
	margin-top: 10px;
}
#tableInfo{
	width:90%;
	height:400px;
	position: static;
	left:50px;
}

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">长庆石油专家任务评审系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;">
                <span th:text="${session.user.username}">贤心</span></a></li>
            <li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <!--					<li class="layui-nav-item layui-nav-itemed">-->
                <!--						<a class="" href="javascript:;" th:href="@{/group/groupManagePage}">评审任务分组管理</a>-->
                <!--					</li>-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;" ><STRONG>评审专家管理</STRONG></a>
                    <dl class="layui-nav-child" >
                        <dd>
                            <a class="" href="javascript:;" th:href="@{/group/groupManagePage}">评审专家管理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><STRONG>评审任务管理</STRONG></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="" href="javascript:;"th:href="@{/project/managePage}">评审任务管理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><STRONG>密码修改</STRONG></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="" href="javascript:;" th:href="@{/project/allocateManagePage}">密码修改</a>
                        </dd>
                    </dl>
                </li>
                <!--					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">用户管理</a>-->
                <dl class="layui-nav-child">
                    <dd>
                        <a class="" href="javascript:;" th:href="@{/project/userPage?role=1}">评审任务管理</a>
                    </dd>
                    <dd>
                        <a class="" href="javascript:;" th:href="@{/project/userPage?role=2}">评审专家管理</a>
                    </dd>
                    <dd>
                        <a class="" href="javascript:;" th:href="@{/project/userPage?role=3}">密码修改</a>
                    </dd>
                    <!--							<dd>-->
                    <!--								<a class="" href="javascript:;" th:href="@{/project/userPage?role=3}">管理员管理</a>-->
                    <!--							</dd>-->
                </dl>
                <!--						<li class="layui-nav-item layui-nav-itemed"><a class=""-->
                <!--						href="javascript:;" th:href="@{/field/fieldPage}">领域标签管理</a></li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>评审任务管理</cite></a>
			</span>
        <blockquote class="layui-elem-quote"><BIG>系统所有评审任务</BIG></blockquote>
        <form class="layui-form" method="POST" style="margin-left:50px">
            <div class="layui-form-item">

                            <div class="layui-inline" style="position:static">
                                <label class="layui-form-label">评审任务名</label>
                                <div class="layui-input-inline">
                                    <input align="center" id="review_name" type="text" name="review_name"
                                           placeholder="根据评审任务名模糊搜索" autocomplete="off"
                                           class="layui-input"/>
                                </div>
                            </div>

                            <div class="layui-inline" style="position:static">
                                <label class="layui-form-label">评审发起人</label>
                                <div class="layui-input-inline">
                                    <input id="review_user" type="text" name="review_user"
                                           placeholder="" autocomplete="off"
                                           class="layui-input"/>
                                </div>
                            </div>

                            <div class="layui-inline" style="position:static">
                                <label class="layui-form-label" style="width:150px">评审所属专业领域</label>
                                <div class="layui-input-inline">
                                    <select id="review_field" name="review_field">
                                        <option value=""></option>
                                        <option value="工程">工程</option>
                                        <option value="财务">财务</option>
                                        <option value="地质">地质</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline" style="position:static">
                                <label class="layui-form-label">评审状态</label>
                                <div class="layui-input-inline">
                                    <select id="review_status" name="review_status">
                                        <option value=""></option>
                                        <option value="待评审">待评审</option>
                                        <option value="通知中">通知中</option>
                                        <option value="通知中">通知失败</option>
                                        <option value="通知完成">部分通知完成</option>
                                        <option value="通知完成">全部通知完成</option>
                                    </select>
                                </div>
                            </div>
            </div>
            <div class="layui-inline" style="margin-left:38%">
                <a id="select" class="layui-btn layui-btn-normal layui-btn-radius" lay-submit="" lay-filter="room_search"><i style="padding-right: 4px"
                                                                                      class="layui-icon">&#xe615;</i>查询</a>
            </div>
        </form>
        <div id="layerDemo" class="layui-btn-container" style="margin-top:80px">
            <label class="layui-form-label" style="width:20px"></label>
            <button type="button" class="layui-btn layui-btn-normal" id="import"><i class="layui-icon"></i>批量导入</button>
            <button type="button" id="delete" class="layui-btn layui-btn-normal" lay-submit lay-filter="delete">删除</button>
            <button type="button" class="layui-btn layui-btn-warm" id="export"><i class="layui-icon"></i>批量导出</button>
        </div>
        <div id="tableInfo">
            <label class="layui-form-label" style="width:20px"></label>
            <table class="layui-hide" id="applyinfo" lay-data="{id:'applyinfo'}" lay-filter="applyinfo" style="overflow-y:auto;overflow-x:auto"></table>
            <label class="layui-form-label" style="width:20px"></label>

            <script type="text/html" id="check">
                <a class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" lay-event="detail" id="finddetail">查看详细</a>
            </script>

            <script type="text/html" id="barDemo">
                {{#  if(d.reviewStatus== "全部通知完成"){ }}
                <a  class="layui-btn layui-btn-radius layui-btn-xs" lay-event="right">已发送</a>
                {{#  } }}
                {{#  if(d.reviewStatus== "待评审"){ }}
                <a  class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" lay-event="right">
                    <i style="padding-right: 4px" class="layui-icon">&#xe705;</i>发起评审</a>
                {{#  } }}
                {{#  if(d.reviewStatus== "通知中"){ }}
                <a  class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" lay-event="right">
                    <i style="padding-right: 4px" class="layui-icon">&#xe705;</i>发起评审</a>
                {{#  } }}
                {{#  if(d.reviewStatus== "部分通知完成"){ }}
                <a  class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" lay-event="right">
                    <i style="padding-right: 4px" class="layui-icon">&#xe705;</i>发起评审</a>
                {{#  } }}
                {{#  if(d.reviewStatus== "通知失败"){ }}
                <a  class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" lay-event="right">
                    <i style="padding-right: 4px" class="layui-icon">&#xe705;</i>发起评审</a>
                {{#  } }}
            </script>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <p style="text-align: center;">© All Rights Reserve By ChinaSoft</p>
    </div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

<script th:inline="javascript">
		//JavaScript代码区域
		layui.use([ 'jquery', 'layer' ,'form' ,'table', 'laydate','element','upload'], function() {
			var $ = layui.jquery,
			layer = layui.layer,
			form = layui.element,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element,
			upload=layui.upload;
			
			 //日期时间范围
			  laydate.render({
			    elem: '#createTime'
			    ,type: 'datetime'
			    ,range: '~'
			    ,format: 'yyyy-MM-dd HH:mm:ss'
			  });

			  var params = {};
			  params.pageNum = 1;
			  params.pageSize = 10;
			  params.reviewName =$('#review_name').val();
			  params.reviewUser =$('#review_user').val();
			  params.reviewField =$('#review_field').val();
			  params.reviewStatus =$('#review_status').val();

			  //接口接入
			  $.ajax({
      			  url: '/review/queryReviewInfo',
				  method: 'post',
				  contentType:'application/json;charset=utf-8',
				  data:JSON.stringify(params),
				  success: function(res) {
				    renderTable(res.data);
                    }
			 });
                var colsnew = [ //表头
                       {type:'checkbox'}
					  ,{field: 'id', title: '流水号', width:100, sort: true}
					  ,{field: 'reviewName', title: '评审任务名', width:100, edit:true}
					  ,{field: 'reviewRemark', title: '摘要', width:150, edit:true}
					  ,{field: 'reviewUser', title: '评审发起人', width: 120}
					  ,{field: 'reviewDate', title: '评审计划日期', width: 150,sort:true}
					  ,{field: 'reviewStartDate', title: '评审开始时间', width: 150, sort: true}
					  ,{field: 'reviewEndDate', title: '评审结束时间', width: 150, sort: true}
					  ,{field: 'reviewField', title: '评审所属专业领域', width:100}
					  ,{field: 'reviewExperts', title: '评审所需专家数量', width:150}
					  ,{field: 'reviewStatus', title: '评审状态', width:100}
					  ,{field: 'detail', title:'详细', width: 100, align:'center', toolbar: '#check'}
					  ,{field: 'right', title:'操作', width: 100, align:'center', toolbar: '#barDemo'}
					];
			 //执行一个 table 实例
			 var renderTable = function(data) {
				   var tableIns = table.render({
					elem: '#applyinfo'
					,width: '100%'
					,data:data
					,cols: [colsnew]
					 ,where: { action: "List" }
            		 ,request: {
               		 	pageName: 'pageNum', //页码的参数名称
                	 	limitName: 'pageSize' //每页数据量的参数名
            		 }
            		,done: function (res, curr, count) {
                		this.cols = []; //（关键代码）将cols初始化，否则表格重载时无法正确重新渲染表头
            		}

				   ,page: {
               		 	limit: params.pageSize ,//指定每页显示的条数
                        limits: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], //每页数据量的参数名
            		 }
				  });
                  // 执行重载
                  table.render().reload('applyinfo', { cols: [colsnew] })
                  //监听工具条
                  table.on('tool(applyinfo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                    if(layEvent === 'right'){
                        if (data.reviewStatus == '全部通知完成'){
                          console.log("任务已完成");
                        } else {
                            var reviewStart = {};
                            reviewStart.id=data.id;
                            reviewStart.reviewField=data.reviewField;
                            $.ajax({
                             method: "post",
                             url: "/review/startReview",
                             data: JSON.stringify(reviewStart),
                             contentType: "application/json",
                             success: function(data){
                                if(data.msg)
                                 {
                                    layer.msg(data.msg);
                                 }
                                 else
                                 {
                                    alert("信息发送失败");
                                    var Title="无对应";
                                    var message="领域专家,";
                                    var filed=JSON.stringify(reviewStart.reviewField);
                                    var error="发送失败";
                                    layer.open({
                                          type: 1
                                          ,title: '报错信息'
                                          ,content: Title+filed+message+error //这里content是一个普通的String
                                          ,btn: '确认'
                                          ,btnAlign: 'c'
                                          ,shade: 0 //不显示遮罩
                                          ,yes: function(){
                                             layer.closeAll();
                                           }
                                        });
                                 }
                             }
                         });
                        }
                    }
                    else if(layEvent === 'detail')
                    {
                        var checkDetail=data.id;

                        $.ajax({
                             method: "get",
                             url: "/review/queryRepeatMsg?id=55",
                             data: JSON.stringify(checkDetail),
                             contentType: "application/json",
                             success: function(res){
                                var that=this;
                                 layer.open({
                                      type: 1
                                      ,title: '评审任务对应专家回复详情'
                                      ,area:'800px,600px'
<!--                                      ,content:JSON.stringify(res)-->
                                      ,content: '<table class="layui-table" id="detailinfo" lay-filter="detailinfo" style="overflow-y:auto;overflow-x:auto"></table>'
                                      ,btn: ['查询','关闭']
                                      ,btnAlign: 'c'
                                      ,shade: 0 //不显示遮罩
                                      ,yes:function(){
                                        var D_param=res; //这里content是一个普通的String
                                        $(that).click(D_param);
                                      }
                                      ,btn2: function(){
                                         layer.closeAll();
                                      }
                                    });
                             }
                        })
                    }
                  });
                  $('#finddetail .layui-btn').on('click', function(D_param){
					    var Dcols = [ //表头
					           {field: 'id', title: '序号', width:100}
                              ,{field: 'review', title: '评审任务id', width:100}
                              ,{field: 'phone', title: '电话号码',width:100}
                              ,{field: 'repeats', title: '回复内容',width:100}
                              ,{field: 'status', title: '回复状态', width:100}
                            ];
			          var renderTable = function(D_param) {

					    var tableIns = table.render({
                            elem: '#detailinfo'
                            ,width: '100%'
                            ,data:D_param
                            ,cols: [Dcols]
					        ,where: { action: "List" }
                            ,done: function (res, curr, count) {
                                this.cols = []; //（关键代码）将cols初始化，否则表格重载时无法正确重新渲染表头
                            }

                           ,page: {
                                limit: 10 ,//指定每页显示的条数
                                limits: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], //每页数据量的参数名
                             }

                      });
                      // 执行重载
                      table.render().reload('detailinfo', { cols: [Dcols] })
                  }
					  });

			//删除
                $("#delete").click(function(data){
                    var checkStatus = table.checkStatus('applyinfo'); //idTest 即为基础参数 id 对应的值
                    console.log(checkStatus.data[0]) //获取选中行的数据
                    console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
                    console.log(checkStatus.isAll ) //表格是否全选
                    var deleteEp=[];
                    for(var i=0;i<checkStatus.data.length;i++)
                    {
                            deleteEp.push(checkStatus.data[i].id);

                    }
                    console.log(deleteEp);
                    $.ajax({
                        url:'/review/delReview',
                        method:'post',
                        data:JSON.stringify(deleteEp),
                        contentType:'application/json;charset=utf-8',
                        success:function(data){
                            if(data.code==200){
                                layer.msg("删除成功",function() {time:1000});
                                parent.location.reload();
                            }else{
                                layer.msg("删除失败",function() {time:1000})
                            }
                        }
                    })
                })
			//导出
                $('#export').on('click', function(){
    				// 模拟从后端接口读取需要导出的数据
    				var checkStatus = table.checkStatus('applyinfo'); //idTest 即为基础参数 id 对应的值
                    console.log(checkStatus.data[0]) //获取选中行的数据
                    console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
                    console.log(checkStatus.isAll ) //表格是否全选
                    var RvEp=[];
                    for(var i=0;i<checkStatus.data.length;i++)
                    {
                            RvEp.push(checkStatus.data[i].id);

                    }
                    console.log(RvEp);

					var url = "/review/exportReviewExcel";
					$.ajax({
					method : "POST", //提交方式
					url : url,//路径
					contentType: "application/json",
					data:JSON.stringify(RvEp),
					beforeSend: function (request) {
					request.setRequestHeader("Authorization", "xxx");
					},
					success : function(result) {
						var xhr = new XMLHttpRequest();
                        xhr.responseType = "arraybuffer";
                        xhr.open("POST", url, true);
                        xhr.onload = function () {
                        const blob = new Blob([this.response], {type:"application/vnd.ms-excel"});
                        if(blob.size < 1) {
                              alert('导出失败，导出的内容为空！');
                              return;
                        }
                        if(window.navigator.msSaveOrOpenBlob) {
                              navigator.msSaveOrOpenBlob(blob, '评审任务表.xlsx')
                        } else {
                            const aLink = document.createElement('a');
                              aLink.style.display = 'none';
                              aLink.href = window.URL.createObjectURL(blob);
                              aLink.download = '评审任务表';
                              document.body.appendChild(aLink);
                              aLink.click();
                              document.body.removeChild(aLink);
                              return;
                          }
                        }
                        xhr.setRequestHeader("Authorization", "xxx");
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.send(JSON.stringify(RvEp));
					}
				});

    	    });

    	}
    	//查询
			  $('#select').click(function(){
			      var s={
			      pageNum:1,
                  pageSize:10};
                  s.reviewName =$('#review_name').val();
                  s.reviewUser =$('#review_user').val();
                  s.reviewField =$('#review_field').val();
                  s.reviewStatus =$('#review_status').val();
			    $.ajax({
                                url:"/review/queryReviewInfo",
							method:"post",
							contentType:'application/json;charset=utf-8',
				  			data:JSON.stringify(s),
							success:function (res) {
                                    if(res.data){
									 renderTable(res.data);
									 }
									 else
									 {
									    alert("无符合任务");
									 }
                            }
              })
			});
    	//文件上传
			upload.render({
			  elem: '#import'
			  ,method: 'post'
    		  ,url: '/review/importReviewExcel' //此处配置你自己的上传接口即可
    		  ,accept: 'file' //普通文件
    		  ,done: function(res){
    		    layer.msg('上传成功');
    		    console.log(res);
    		}
    		});


})





</script>

</body>
</html>