<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>评审专家管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../../static/layui/css/layui.css"
		  th:href="@{/layui/css/layui.css}" />
	<link rel="stylesheet" href="../../static/css/allocate.css"
		  th:href="@{/css/allocate.css}" />
	<style type="text/css">
#tableInfo{
	position:static;
	width:90%;
	height:400px;
}

.err {
	display: none;
	top: 95px;
	width: 160px;
	position: absolute;
	margin-left: -100px;
	left: 50%;
	text-align: center;
	padding: 15px 18px;
	background: orange;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 600;
	transition: top 1s;
	z-index: -1;
}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo">长庆石油专家任务评审系统</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<div id="main" class="layui-btn-container">
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <span th:text="${session.user.username}">贤心</span></a></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>
	</div>
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree site-demo-nav" >
				<li class="layui-nav-item">
					<a class="" href="javascript:;" th:href="@{/review/expertInfo}"><STRONG>评审专家管理</STRONG></a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:;" th:href="@{/review/reviewManagement}"><STRONG>评审任务管理</STRONG></a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:;" th:href="@{/review/pswManagement}"><strong>密码修改</strong></a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:;"th:href="@{/review/sysConfig}"><strong>系统配置</strong></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>专家信息</cite></a>
			</span>
		<blockquote class="layui-elem-quote"><BIG>系统内相关专家信息</BIG></blockquote>
		<form class="layui-form" id="select-form">
			<div class="layui-form-item">
				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">工号</label>
					<div class="layui-input-inline">
						<input id="work_number" type="text" name="work_number"
							   placeholder="" autocomplete="off"
							   class="layui-input"/>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">擅长专业领域</label>
					<div class="layui-input-inline">
						<select id="field_name" name="field_name">
							<option value=""></option>
							<option value="财务">财务</option>
							<option value="工程">工程</option>
							<option value="地质">地质</option>
						</select>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">技术职级</label>
					<div class="layui-input-inline">
						<select id="technology_level" name="technology_level">
							<option value=""></option>
							<option value="高级工程师">高级工程师</option>
							<option value="中级工程师">中级工程师</option>
							<option value="R初级工程师">初级工程师</option>
						</select>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">职称</label>
					<div class="layui-input-inline">
						<select id="expert_level" name="expert_level">
							<option value=""></option>
							<option value="科员">科员</option>
							<option value="副科">副科</option>
							<option value="正科">正科</option>
							<option value="副处">副处</option>
							<option value="正处">正处</option>
						</select>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">单位</label>
					<div class="layui-input-inline">
						<input id="work_unit" type="text" name="work_unit"
							   placeholder="根据单位模糊搜索" autocomplete="off"
							   class="layui-input"/>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">未参会次数</label>
					<div class="layui-input-inline">
						<input id="un_meeting" type="text" name="un_meeting"
							   placeholder="" autocomplete="off"
							   class="layui-input"/>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">地域</label>
					<div class="layui-input-inline">
						<input id="address" type="text" name="address"
							   placeholder="根据地域模糊搜索" autocomplete="off"
							   class="layui-input"/>
					</div>
				</div>

				<div class="layui-inline" style="position:static">
					<label class="layui-form-label" style="width:150px">状态</label>
					<div class="layui-input-inline">
						<select id="expert_status" name="expert_status">
							<option value=""></option>
							<option value="正常">正常</option>
							<option value="封禁">封禁</option>
						</select>
					</div>
				</div>
			</div>
		</form>
		<div class="layui-inline" style="margin-left:45%">
			<a id="select" class="layui-btn layui-btn-normal layui-btn-radius"><i style="padding-right: 4px;" class="layui-icon">&#xe615;</i>查询</a>
		</div>
		<div id="layerDemo" class="layui-btn-container" style="margin-top:100px">
			<label class="layui-form-label" style="width: 20px"></label>
			<button type="button" class="layui-btn layui-btn-normal" id="import"><i class="layui-icon"></i>批量导入</button>
			<button  data-method="offSet" type="button" data-type="auto" class="layui-btn layui-btn-normal" id="hand_add">手动添加</button>
			<button type="button" class="layui-btn layui-btn-normal" id="delete" lay-submit lay-filter="delete">删除</button>
			<button type="button" class="layui-btn layui-btn-warm" id="export"><i class="layui-icon"></i>批量导出</button>
			<button type="button" class="layui-btn" lay-submit lay-filter="release"id="release"><i class="layui-icon"></i>解除封禁</button>
			<a class="layui-btn layui-btn-primary" style = "text-decoration: underline ; color :blue;border-style: none; " href="http://121.41.170.49:30080/source/专家信息表.xlsx" download="专家信息表.xlsx"><big>下载模板</big></a>
		</div>
		<div id="tableInfo">
			<label class="layui-form-label" style="width:20px"></label>
			<table class="layui-hide" id="groupinfo" name="groupinfo" lay-data="{id:'groupinfo'}" lay-filter="groupinfo" style="overflow-y:auto;overflow-x:auto">
			</table>
			<label class="layui-form-label" style="width:20px"></label>
			<script id="barDemo" type="text/html">
				<a class="layui-btn layui-btn-xs" lay-event="allocate"><i style="padding-right: 4px;" class="layui-icon">&#xe609;</i>选择专家</a>
			</script>
		</div>
	</div>
	<div class="layui-footer">
		<!-- 底部固定区域 -->
		<p style="text-align: center;">© All Rights Reserve By ChinaSoft</p>
	</div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
	/*<![CDATA[*/
		//JavaScript代码区域


	// 更新单元格内容
		layui.use(['jquery','layer','form','table','laydate','element','upload','laypage'], function() {
			var $ = layui.jquery,
			layer = layui.layer,
			form = layui.form,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element,
			upload = layui.upload,
			laypage = layui.laypage;

			$(document).ready(function() {
				// 获取当前页面的 URL
				var currentUrl = window.location.href;

				// 遍历导航栏菜单的子菜单项
				$('.layui-nav-item a').each(function() {
					var $this = $(this);
					var linkUrl = $this.attr('href');

					// 如果子菜单项的链接与当前页面的 URL 匹配，则为该子菜单项添加 'layui-this' 类
					if (currentUrl.indexOf(linkUrl) !== -1) {
						// 移除其他菜单项的 'layui-this' 类

						// 为匹配的子菜单项添加 'layui-this' 类
						$this.addClass('layui-this');

						// 结束遍历
						return false;
					}
				});
			});
			var params = {};
			params.pageNum = 1;
			params.pageSize = 1000;

			var init;

			$.ajax({
      			  url: '/expert/queryExpertInfo',
				  method: 'post',
				  contentType:'application/json;charset=utf-8',
				  data:JSON.stringify(params),
				  success: function(res) {
					  renderTable(res);
				  }
				})

			var colsnew=[ //表头
					  {type:'checkbox'}
					  ,{field: 'id', title: '序号', width:100, sort: true}
					  ,{field: 'workNumber', title: '工号', width:120, sort:true}
					  ,{field: 'name', title: '姓名', width:80}
					  ,{field: 'level', title: '职称', width: 120}
					  ,{field: 'technologyLevel', title: '技术职级', width: 100}
					  ,{field: 'fieldName', title: '擅长专业领域', width: 150}
				      ,{field: 'address', title: '地域', width: 150}
				      ,{field: 'workUnit', title: '单位', width: 150}
					  ,{field: 'phone', title: '电话', width: 150}
					  ,{field: 'birthday', title: '出生日期', width:150}
					  ,{field: 'age', title: '年龄', width:80, sort:true}
					  ,{field: 'integral', title: '参与评审积分', width:130,sort:true}
					  ,{field: 'refuseCount', title:'拒绝评审次数', width: 130,sort:true}
					  ,{field: 'unMeeting', title:'未参会次数', width: 130,edit: "text"}
					  ,{field: 'expertStatus', title: '专家状态', width:100}
					]
				var renderTable = function(res) {
					 table.render({
						elem: '#groupinfo'
						// ,method:'post'
						//  ,url:'/expert/queryExpertInfo'
						 ,data:res.data
						, width: '100%'
						,dataType:'json'
						, cols: [colsnew]
						, request: {
							pageName: 'pageNum', //页码的参数名称，默认：page
							limitName: 'pageSize',
						}
						, page: {
							 limits: [10, 20, 50, 100],
							 limit: 10,
						 }
						,done:function (res,curr,count) {
							//显示服务器响应的数据，方便观看
							laypage.render({
								elem: '#groupinfo',//被渲染的分页栏id，此处不需要加#号
								count: count,//数据总条数
								curr:  curr,//当前页码
								limit: params.pageSize,//当前页展示的最大行数
								limits: [5,10,15,20],//分页大小选项
								//分页栏的样式，具体情况可以去layui镜像网站查看
								layout:['count','prev','page','next','limit','skip'],
								//jump函数在操作分页栏后执行
								//obj：当前分页栏的所有属性值
								//first:是否是第一次加载
								jump:function (obj,first) {
									//当操作分页栏后，获得当前页码的数据，赋值给隐藏的用来存放页码的输入框
									$("#pageNum").val(obj.curr)
									//同理它是赋值给pageSize的
									$("#pageSize").val(obj.limit)
									//如果是首次加载页面，那就不执行
									if (!first){
										//不是首次加载页面的话，就触发按钮的提交事件
										$("#getUser").click()
									}
								}
							});
						}

					});
					//重载
					table.render().reload('groupinfo', {cols: [colsnew]});
				}
					//解封
					form.on('submit(release)',function(data) {
						var checkStatus = table.checkStatus('groupinfo'); //idTest 即为基础参数 id 对应的值
						console.log(checkStatus.data[0]) //获取选中行的数据
						console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
						console.log(checkStatus.isAll) //表格是否全选
						var release = [];
						for (var i = 0; i < checkStatus.data.length; i++) {
							release.push(checkStatus.data[i].id);

						}
						console.log(release);
						layer.open({
							type: 1
							, title: '解除专家封禁状态'
							, area: ['20%', '20%']
							, content: '是否解除所选专家封禁状态？' //这里content是一个普通的String
							, btn: ['确认', '关闭']
							, btnAlign: 'c'
							, shade: 0 //不显示遮罩
							, yes: function () {
								$.ajax({
									url:'/expert/unBan',
									method:'post',
									data:JSON.stringify(release),
									contentType:'application/json;charset=utf-8',
									success:function(data){
										if(data){
											layer.msg("解除封禁成功!",{time:1000},function() {
												parent.location.reload();
											});
										}else{
											layer.msg("解封失败！");
										}
									}
								})
							}
							, btn2: function () {
								layer.closeAll();
							}
						})
					})
				//删除
					form.on('submit(delete)',function(data){
						var checkStatus = table.checkStatus('groupinfo'); //idTest 即为基础参数 id 对应的值
						console.log(checkStatus.data[0]) //获取选中行的数据
						console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
						console.log(checkStatus.isAll ) //表格是否全选
						var deleteEp=[];
						for(var i=0;i<checkStatus.data.length;i++)
						{
							deleteEp.push(checkStatus.data[i].id);

						}
						console.log(deleteEp);
						layer.open({
							type: 1
							,title: '删除专家信息'
							,area:['20%','15%']
							,content:'<div style="top:40%;left: 20%"><a>是否删除所选专家信息？</a></div>' //这里content是一个普通的String
							,btn: ['确认','关闭']
							,btnAlign: 'c'
							,shade: 0 //不显示遮罩
							,yes: function(){
								$.ajax({
									url:'/expert/delExpert',
									method:'post',
									data:JSON.stringify(deleteEp),
									contentType:'application/json;charset=utf-8',
									success:function(data){
										if(data.code==200){
											layer.msg("删除成功",function() {time:1000});
											parent.location.reload();
										}else{
											layer.msg("删除失败",function() {time:1000})
										}
									}
								})
							}
							,btn2: function(){
								layer.closeAll();
							}
						});

					})
        //导出
        /*
        layui.config({//配置并导入excel插件
    					base: '${base}/scripts/layui/layui_exts/'
    				}).use([ 'excel', 'layer'], function() {
    			var $ = layui.$;
    			var layer = layui.layer;
    			var excel = layui.excel;
    			*/
    			$('#export').on('click', function(){
    					// 模拟从后端接口读取需要导出的数据

    					var checkStatus = table.checkStatus('groupinfo'); //idTest 即为基础参数 id 对应的值
						console.log(checkStatus.data[0]) //获取选中行的数据
						console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
						console.log(checkStatus.isAll ) //表格是否全选
						var ExEp=[];
						for(var i=0;i<checkStatus.data.length;i++)
						{
								ExEp.push(checkStatus.data[i].id);

						}
						console.log(ExEp);

						var url = "/expert/exportExpertExcel";
						$.ajax({
						 method : "POST", //提交方式
						 url : url,//路径
						 contentType: "application/json",
						 data:JSON.stringify(ExEp),
						 beforeSend: function (request) {
						  request.setRequestHeader("Authorization", "xxx");
						 },
						success : function(result) {
						  var xhr = new XMLHttpRequest();
						xhr.responseType = "arraybuffer";
						xhr.open("POST", url, true);
						xhr.onload = function () {
						 const blob = new Blob([this.response], {type:"application/vnd.ms-excel"});
						 if(blob.size < 1) {
						  alert('导出失败，导出的内容为空！');
						  return;
						 }
						 if(window.navigator.msSaveOrOpenBlob) {
						  navigator.msSaveOrOpenBlob(blob, '专家信息表.xlsx')
						 } else {
						  const aLink = document.createElement('a');
						  aLink.style.display = 'none';
						  aLink.href = window.URL.createObjectURL(blob);
						  aLink.download = '专家信息表.xlsx';
						  document.body.appendChild(aLink);
						  aLink.click();
						  document.body.removeChild(aLink);
						  return;
						 }
						}
						xhr.setRequestHeader("Authorization", "xxx");
						xhr.setRequestHeader("Content-Type", "application/json");
						xhr.send(JSON.stringify(ExEp));
						 }
						});
    				});
					//监听工具条
					//监听单元格编辑
					table.on('edit(groupinfo)', function(obj){
						var value = obj.value;
						var data = obj.data; //得到所在行所有键值
						var unMeeting = data.unMeeting; //得到字段

						$.post("/expert/unMeeting", { id : data.id, unMeeting : data.unMeeting}, res=>{//“”内填url
							if(res){  // 未参会次数更新成功
								layer.msg("管理员信息修改成功！!",{time:1000},function() {
									parent.location.reload();
								});

								// parent.reloadView = function () {
									$.ajax({
										url: '/expert/queryExpertInfo',
										method: 'post',
										contentType:'application/json;charset=utf-8',
										data:JSON.stringify(params),
										success: function(res) {
											renderTable(res);
										}
									})
								// setInterval('reloadView()',1000);
							}
							else
							{
								layer.msg("管理员信息修改失败!");
							}

						})
					});


			$("#select").click(function Search() {
            		 	var search={};
            		 	search.pageNum = 1;
						search.pageSize = 1000;
						search.workNumber=$("#work_number").val();
						search.level =$('#expert_level').val();
						search.technologyLevel =$('#technology_level').val();
						search.fieldName =$('#field_name').val();
						search.birthday =$('#birthday').val();
						search.expertStatus =$('#expert_status').val();
						search.unMeeting=$('#un_meeting').val();

						$.ajax({
							url:"/expert/queryExpertInfo",
							method:"post",

							data:JSON.stringify(search),
							contentType:'application/json;charset=utf-8',
							success:function (res) {
									if(res.data){
										renderTable(res);
									}else{
											alert("暂无此人");
									}
    							}

						})
					});
			//文件上传
			upload.render({
			  elem: '#import'
    		  ,url: '/expert/importExpertExcel' //此处配置你自己的上传接口即可
    		  ,accept: 'file' //普通文件
    		  ,done: function(res){
    		    layer.msg('上传成功');
				$.ajax({
					url: '/expert/queryExpertInfo',
					method: 'post',
					contentType:'application/json;charset=utf-8',
					data:JSON.stringify(params),
					success: function(res) {
						renderTable(res);
					}
				})
    			}
    		 });
    		//弹窗
				var active = {
					offSet: function(othis){
						 var type = othis.data('type');
						 var that=this;
						 layer.open({
						  type:1
						  ,title:'专家信息'
						  ,area:['60%','40%']
						  ,offset: 'auto'
						  ,id: 'layerDemo'+type //防止重复弹出
						  ,content: '<table border="0" cellspacing="0" style="margin-right:30px" id="add_table">' +
									 '<tr>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">工号</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_id" type="text" name="ID" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">姓名</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_name" type="text" name="username" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">职称</label>' +
									 '<div class="layui-input-inline"><input id="add_technology" type="text" name="Status" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '</tr>' +
									 '<tr>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">技术职级</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_level" type="text" name="level" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">擅长专业领域</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_field" type="text" name="username" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">手机号码</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_phone" type="text" name="add_phone" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '</tr>' +
									 '<tr>' +
									 '<td>' +
									 '<div class="layui-inline" style="position:static">\n' +
									 '<label class="layui-form-label" style="width:150px">地域</label>\n' +
									 '<div class="layui-input-inline">\n' +
									 '<input id="add_address" type="text" name="add_address"\n' +
									 '  class="layui-input"/>\n' +
									 '</div>\n' +
									 '</div>' +
									 '</td>' +
									 '<td><div class="layui-inline" style="position:static">\n' +
									 '<label class="layui-form-label" style="width:150px">单位</label>\n' +
									 '<div class="layui-input-inline">\n' +
									 '<input id="add_workUnit" type="text" name="add_workUnit"\n' +
									 'class="layui-input"/>\n' +
									 '</div>\n' +
									 '</div>' +
									 '</td>' +
									 '<td>' +
									 '<div class="layui-inline">' +
									 '<label class="layui-form-label" style="width:150px">出生日期</label>' +
									 '<div class="layui-input-inline">' +
									 '<input id="add_birthday" type="date" name="ID" autocomplete="off" class="layui-input"/>' +
									 '</div>' +
									 '</div>' +
									 '</td>' +
									 '</tr>' +
									 '</table>'
						  ,btn: ['保存','取消']
						  ,btnAlign: 'c'
						  ,shade: 0 //不显示遮罩
						  ,yes:function(){
						  	$(that).click();
						  }
						  ,btn2: function(){
							 layer.closeAll();
						  }
						  });
					  }

				};
				$('#layerDemo .layui-btn').on('click', function(){
					  othis = $(this), method = othis.data('method');
    				  active[method] ? active[method].call(this, othis) : '';

    				  			var add={};
						  		 add.workNumber =$('#add_id').val();
								 add.name =$('#add_name').val();
								 add.level =$('#add_technology').val();
								 add.technologyLevel =$('#add_level').val();
								 add.fieldName =$('#add_field').val();
								 add.phone =$('#add_phone').val();
								 add.birthday =$('#add_birthday').val();
								 add.address=$('#add_address').val();
								 add.workUnit=$('#add_workUnit').val();

								  $.ajax({
									  method : "post", //提交方式
									  url : "/expert/addExpert",//路径
									  contentType: "application/json",
									  data:JSON.stringify(add),
									  success:function (res) {
											  if(res){
												  $.ajax({
													  url: '/expert/queryExpertInfo',
													  method: 'post',
													  contentType:'application/json;charset=utf-8',
													  data:JSON.stringify(params),
													  success: function(res) {
														  renderTable(res);
													  }
												  })
												  layer.closeAll();
												  layer.msg("添加成功");
											  }else{
											  	alert("添加失败");
												 layer.closeAll();
											  }
										   }
								  })

					  });



		});
		/* ]]> */
	</script>
</body>
</html>