<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>系统配置管理</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/allocate.css"
	th:href="@{/css/allocate.css}" />
<style type="text/css">
#tableInfo{
	width: 40%;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">长庆石油专家任务评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"><span th:text="${session.user.username}">贤心</span></a></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>
		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item">
						<a class="" href="javascript:;" th:href="@{/expertInfo}"><STRONG>评审专家管理</STRONG></a>
					</li>
					<li class="layui-nav-item">
						<a class="" href="javascript:;" th:href="@{/reviewManagement}"><STRONG>评审任务管理</STRONG></a>
					</li>
					<li class="layui-nav-item">
						<a class="" href="javascript:;" th:href="@{/pswManagement}"><strong>密码修改</strong></a>
					</li>
					<li class="layui-nav-item">
						<a class="" href="javascript:;"th:href="@{/sysConfig}"><strong>系统配置</strong></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>系统配置管理</cite></a>
			</span>
			<blockquote class="layui-elem-quote">可修改所需配置信息</blockquote>
			<form class="layui-form" method="POST">

							<div class="layui-inline" style="position:static;height:60px;">
								<label class="layui-form-label" style="width: 100px">自动拒绝时间</label>
								<div class="layui-input-inline">
									<input id="hour" type="text" name="hour"  class="layui-input" style="width: 220px"/>
								</div>
								<button type="button" class="layui-btn layui-btn-normal" id="save_hour" style="height: 35px">确认修改</button>
								<span style="color: #cb2028;font-size: xx-small;margin-left: 20px">备注:专家多久未回复,视为拒绝</span>
							</div>
				<br>
							<div class="layui-inline" style="position:static;height:60px;">
								<label class="layui-form-label" style="width: 100px">拒绝封禁次数</label>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" id="refuse_count"  style="width: 220px"/>
								</div>
								<button type="button" class="layui-btn layui-btn-normal" id="save_refuse" style="height: 35px">确认修改</button>
								<span style="color: #cb2028 ;font-size: xx-small;margin-left: 20px">备注:专家回复几次拒绝后,将其状态改为封禁</span>
							</div>
				<br>
							<div class="layui-inline" style="position:static;height:60px">
								<label class="layui-form-label" style="width: 100px">未参会封禁次数</label>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" id="un_meeting" style="width: 220px"/>
								</div>
								<button type="button" class="layui-btn layui-btn-normal" id="save_unMeeting" style="height: 35px">确认修改</button>
								<span style="color: #cb2028;font-size: xx-small;margin-left: 20px">备注:专家几次回复同意，实际未参会后,将其状态改为封禁</span>
							</div>
				<br>
							<div class="layui-inline" style="position:static;height:60px">
								<label class="layui-form-label" style="width: 100px">轮空次数</label>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" id="numOfEmptyTurns" style="width: 220px"/>
								</div>
								<button type="button" class="layui-btn layui-btn-normal" id="save_numOfEmptyTurns" style="height: 35px">确认修改</button>
								<span style="color: #cb2028;font-size: xx-small;margin-left: 20px">备注:专家未参会后,将其轮空几轮（几轮不会再收到短信）</span>
							</div>

			</form>
		</div>
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By ChinaSoft</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
		//JavaScript代码区域
		layui.use([ 'jquery', 'layer' ,'form' ,'table', 'laydate','element'], function() {
			var $ = layui.$,
			layer = layui.layer,
			form = layui.element,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element;

			$(document).ready(function() {
				// 获取当前页面的 URL
				var currentUrl = window.location.href;

				// 遍历导航栏菜单的子菜单项
				$('.layui-nav-item a').each(function() {
					var $this = $(this);
					var linkUrl = $this.attr('href');

					// 如果子菜单项的链接与当前页面的 URL 匹配，则为该子菜单项添加 'layui-this' 类
					if (currentUrl.indexOf(linkUrl) !== -1) {
						// 移除其他菜单项的 'layui-this' 类

						// 为匹配的子菜单项添加 'layui-this' 类
						$this.addClass('layui-this');

						// 结束遍历
						return false;
					}
				});
			});
			var data={};
			$.ajax({
				url: '/config',
				method: 'get',
				contentType:'application/json;charset=utf-8',
				success: function(res) {
					$('#refuse_count').attr('placeholder',res[0].configValue);
					$('#un_meeting').attr('placeholder',res[1].configValue);
					$('#hour').attr('placeholder',res[2].configValue);
					$('#numOfEmptyTurns').attr('placeholder',res[3].configValue);
				}
			})
			  $('#save_hour').click(function(){

				   var hour=$('#hour').val();

				  $.ajax({
					  method: "put",
					  url: "/config",
					  data: {configName:'hour',configValue:hour},
					  success: function(res){
						  if(res)
						  {
							  layer.msg("修改配置成功!",{time:1000},function(){
								  //重新加载当前页面
								  location.reload();
							  });
						  }
						  else
						  {
							  alert('修改配置失败！');
						  }
					  }
				  })
				});
			$('#save_refuse').click(function(){

				var refuseCount=$('#refuse_count').val();

				$.ajax({
					method: "put",
					url: "/config",
					data: {configName: 'refuseCount',configValue: refuseCount},
					success: function(res){
						if(res)
						{
							layer.msg("修改配置成功!",{time:1000},function(){
								//重新加载当前页面
								location.reload();
							});
						}
						else
						{
							alert('修改配置失败！');
						}
					}
				})
			});
			$('#save_unMeeting').click(function(){

				var unMeeting=$('#un_meeting').val();

				$.ajax({
					method: "put",
					url: "/config",
					data: {configName:'unMeeting',configValue:unMeeting},
					success: function(res){
						if(res)
						{
							layer.msg("修改配置成功!",{time:1000},function(){
								//重新加载当前页面
								location.reload();
							});
						}
						else
						{
							alert('修改配置失败！');
						}
					}
				})
			});
			$('#save_numOfEmptyTurns').click(function(){

				var numOfEmptyTurns=$('#numOfEmptyTurns').val();

				$.ajax({
					method: "put",
					url: "/config",
					data: {configName:'numOfEmptyTurns',configValue:numOfEmptyTurns},
					success: function(res){
						if(res)
						{
							layer.msg("修改配置成功!",{time:1000},function(){
								//重新加载当前页面
								location.reload();
							});
						}
						else
						{
							alert('修改配置失败！');
						}
					}
				})
			});
			  });
		/* ]]> */
	</script>

</body>
</html>