.layui-layout-body{
	background-image:url(../img/登录.png);
	background-position: center 0;
    background-repeat: no-repeat;
	background-size: 100% auto;
}
.layui-form-item{
    background-image:url(../img/选择框.png);
	padding-bottom: 20px;
}
.layui-form-label{
	font-weight:bold;
	color: #009688;
}
a{
	text-decoration: none;
	color: #fff;
}
h1{
	font-size: 60px; 
	color: #393D49;
	padding:100px 0 0 100px;
}
h1 i{
	padding-right:20px;
}
.layui-icon{
	font-size: 60px;
    color: #393D49;
}
.login{
	width:425px;
	height:400px;
	border-radius: 4px; 
	margin: 50px 0 0 0;
	padding-top:100px;
}
.layui-btn{
	width:150px;
}
.layui-footer{
	height:50px;
	margin-top:80px;
	background: #ccc;
}
.layui-footer p{
	height:50px;
	line-height:50px;
	text-align:center;
	color:black;
}